.container{
  background-color: aqua;
  height: 1000px;
}
.navbar{

  background-color: Yellow;
  border: 2px solid black;
  height: 100px;
  position: sticky;
  top: 0px;
}
.navbarelements ul{
  overflow: auto;

}
.navbarelements li{
  float: left;
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-style: bold;
}
#home{
  background-color: brown;
  color: white;
  border-radius: 10px;
}
#services{
  background-color: brown;
  color: white;
  border-radius: 10px;
}
#about{
  background-color: brown;
  color: white;
  border-radius: 10px;
}
#contact{
  background-color: brown;
  color: white;
  border-radius: 10px;
}
#home:hover{
  background-color: blueviolet;

}